<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= pageTitle %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <% include ../includes/navigation.ejs %>
    <main>
        <h1>Starting Page</h1>
        <ul>
            <%prods.forEach(product=>{%>
            <li>
                Title: <%=product.title%> <br>
                ImageUrl : <%=product.imageUrl%> <br>
                Price : $<%=product.price%><br>
                Description : <%=product.description%><br>
            </li>
            <%});%>
        </ul>
    </main>
</body>

</html>